Package: gpsp-timewarp
Version: 0.1
Description: RetroGame port of gpSP, with fake RTC. Originally by pingflood.
Section: emus
Priority: optional
Maintainer: delipunch
Architecture: mipsel
Homepage: https://github.com/delipunch/gpsp-timewarp
Depends:
Source: https://github.com/delipunch/gpsp-timewarp
